body {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 880px;
  margin: 0 auto;
}

.nav {
  overflow: hidden;
  padding-top: 67px;
  padding-bottom: 65px;
  height: 72px;
  position: relative;
}
.nav .nav__logo {
  display: block;
  margin: 0 auto;
  width: 180px;
}
.nav .nav__logo .logo {
  width: 180px;
  height: 72px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ddd;
}
.nav .nav__instagram, 
.nav .nav__apply {
  position: absolute;
  top: 87px;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #000;
  text-decoration: none;
}
.nav .nav__instagram {
  left: 87px;
}
.nav .nav__apply {
  right: 87px;
}

.body-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-image {
  width: 100%;
  height: calc(100vh - 300px);
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 62px;
  background-image: url(./logo.jpg);
}

.section-date {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 30px;
}

.section-info {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  margin-bottom: 20px;
}
.section-info span {
  margin: 0 15px;
}

.section-desc {
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.3px;
  text-align: center;
  word-break: keep-all;
}

